.imgClass{
    width: 250px !important;
    height: 65px !important;
}
.bg-light {
    background-color:#007bff !important
}
.nav-item {
    border-color: #f9f5f5;
    border: 2px solid #f9f5f5;
    border-radius: 10px;
    width: 130px;
    text-align: center;
    color: #f9f5f5;
    margin: 4px;
}
.active {    
    background-color: #f9f5f5;  
}
.active-menu {
    color: black !important;
}
.fa-sign-out:before {
    margin-left: 6px !important;
}
.logoutButton {
    font-weight: bold;
    font-size: 18px;
    color: #f9f5f5;
    cursor: pointer;
}
.navbar-light .navbar-nav .nav-link {
    color: #f9f5f5;
}