<carousel>
  <slide>
    <img src="assets/kvs/kv1.jpg" alt="first slide" style="display: block; width: 100%;height: 400px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Kendriya Vidyalaya Hazaribagh'|uppercase}}</h3>
      <p>{{'come in to learn to serve your country and country men' | uppercase}}</p>
    </div>
  </slide>
  <slide>
    <img src="assets/kvs/kv2.jpg" alt="second slide" style="display: block; width: 100%;height: 400px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Kendriya Vidyalaya Hazaribagh'|uppercase}}</h3>
      <p>{{'come in to learn to serve your country and country men' | uppercase}}</p>
    </div>
  </slide>
  <slide>
    <img src="assets/kvs/kv3.jpg" alt="third slide" style="display: block; width: 100%;height: 400px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Kendriya Vidyalaya Hazaribagh'|uppercase}}</h3>
      <p>{{'come in to learn to serve your country and country men' | uppercase}}</p>
    </div>
  </slide>
  <slide>
    <img src="assets/kvs/kv4.jpg" alt="second slide" style="display: block; width: 100%;height: 400px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Kendriya Vidyalaya Hazaribagh'|uppercase}}</h3>
      <p>{{'come in to learn to serve your country and country men' | uppercase}}</p>
    </div>
  </slide>
  <slide>
    <img src="assets/kvs/kv5.jpg" alt="second slide" style="display: block; width: 100%;height: 400px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Kendriya Vidyalaya Hazaribagh'|uppercase}}</h3>
      <p>{{'come in to learn to serve your country and country men' | uppercase}}</p>
    </div>
  </slide>
  <slide>
    <img src="assets/kvs/kv6.jpg" alt="second slide" style="display: block; width: 100%;height: 400px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Kendriya Vidyalaya Hazaribagh'|uppercase}}</h3>
      <p>{{'come in to learn to serve your country and country men' | uppercase}}</p>
    </div>
  </slide>
  <slide>
    <img src="assets/kvs/kv7.jpg" alt="second slide" style="display: block; width: 100%;height: 400px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Kendriya Vidyalaya Hazaribagh'|uppercase}}</h3>
      <p>{{'come in to learn to serve your country and country men' | uppercase}}</p>
    </div>
  </slide>
  <slide>
    <img src="assets/kvs/kv8.jpg" alt="second slide" style="display: block; width: 100%;height: 400px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Kendriya Vidyalaya Hazaribagh'|uppercase}}</h3>
      <p>{{'come in to learn to serve your country and country men' | uppercase}}</p>
    </div>
  </slide>
  <slide>
    <img src="assets/kvs/kv9.jpg" alt="second slide" style="display: block; width: 100%;height: 400px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Kendriya Vidyalaya Hazaribagh'|uppercase}}</h3>
      <p>{{'come in to learn to serve your country and country men' | uppercase}}</p>
    </div>
  </slide>
</carousel>
<h2 class="text-center text-primary">Kendriya Vidyalaya</h2>
<p>
  The Kendriya Vidyalayas Sangathan is a system of central government schools in India that are instituted under the aegis of the Ministry of Human Resource Development (MHRD). It comprises over 1,193 schools in India (as of 1 November 2018) and three abroad.
</p>
<p>
  The system came into being in 1963 under the name 'Central Schools'. Later, the name was changed to Kendriya Vidyalaya. All the schools are affiliated to the Central Board of Secondary Education (CBSE). Its objective is to educate children of the Indian Defence Services personnel who are often posted to remote locations. With the army starting its own Army Public Schools, the service was extended (but not restricted) to all central government employees.
</p>
<p>
  Kendriya Vidyalaya B.S.F. Hazaribag is run by Kendriya Vidyalaya Sangathan , an autonomous organisation under H.R.D. Ministry , New Delhi, is a institution of excellence since its inception in the year 1979. It is situated at Meru , 15 KM away from Hazaribag Town in the lush green campus of B.S.F. surrounded by tall Sal Trees. A beautiful garden with a variety of flowers in the campus spread the fragrance of the institution.The vidyalaya caters to the educational needs of the children of transferable B.S.F. and other Central Government employees of the locality . It prepares students for All India Secondary School Examination (Class X) and All India Senior School Certificate Examination (Class XII) conducted by the CBSE , New Delhi.
</p>
